<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pe.hgs.truler">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".phase.legacy.analysis.ProfileSelection"
            android:theme="@style/NoTitleBarActivity"/>
        <activity
            android:name=".phase.legacy.analysis.JointSetting"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/NoTitleBarActivity"/>
        <activity
            android:name=".phase.legacy.analysis.SubAssessment"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/NoTitleBarActivity"/>
        <activity android:name=".phase.MainMenu"/>
        <activity android:name=".phase.legacy.analysis.ProfileGeneration"/>
        <activity
            android:name=".phase.TaskInfo"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".phase.JointSelection"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".phase.JointRevision"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".phase.legacy.ResultFinal"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity android:name=".tools.LogWindow">
        </activity>
        <activity android:name=".phase.subphase.PreventionGuide">
        </activity>
        <activity
            android:name=".phase.subphase.PreventionVideo"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/NoTitleBarActivity">
        </activity>
        <activity
            android:name=".phase.ResultFinal01"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
    </application>

</manifest>